<html>
<body>
<p>Hi {{fullname}},</p>

<p>Email: {{email}}<br>
Password: {{password}}<br>
Login: <a href="{{login_link}}">{{login_link}}</a></p>

<p>Contact <a href="mailto:support@example.com">support@example.com</a> if needed.</p>
</body>
</html>
