<html>
<body>
<p>Hi <%= fullname %>,</p>

<p>
    Email: <%= email %><br>
    Password: <%= password %><br>
    Login: 
    <a href="<%= action %>">
        <%= action %>
    </a>
</p>


</body>
</html>
